<%= form_with model: @dossier, url: dossier_path(@dossier, attribute: params[:attribute]), method: :patch do |form| %>
<div>
  <div class="relative mt-2 flex items-center w-full">
    <%= form.text_field :name, 
        class: "w-full block rounded-md border-0 py-1.5 pr-14 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 text-3xl sm:leading-6", 
        onchange: "this.form.requestSubmit()",
        autofocus: true %>

    <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
      <kbd class="inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400">↵ Entrer pour valider</kbd>
    </div>
  </div>
</div>
<% end %>