<div class="relative my-6">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-start items-center">
    <span class="size-8 flex items-center justify-center text-sm bg-sky-500 rounded-full text-white">
      <%= @number %>
    </span>
    <span class="bg-white px-3 text-base font-semibold leading-6 text-gray-900"><%= @title %></span>
  </div>
</div>