<div class="flex items-baseline flex-wrap justify-between gap-y-2 gap-x-4 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8">
  <dt class="text-sm font-medium leading-6 text-gray-500"><%= @name %></dt>
  <dd class="text-xs font-medium text-gray-700"><%= @progression %></dd>
  <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900">
    <span class="font-mono"><%= @amount %></span>
  </dd>
  <dd class="text-xs font-medium text-gray-700 font-mono"><%= @subtitle %></dd>
</div>