<div class="flex justify-between items-center">
  <h1 class="text-lg font-black">
    <span class="font-normal text-stone-600 text-base inline-block mr-6">
    &larr; <%= link_to t('factures.buttons.back_dossier'), dossier %>
    </span>
    <%= t('asks.titles.new') %>
    <span class="font-normal text-stone-600 text-base">
    : <%= k(contact).name %> | <%= dossier.name %>
    </span>
  </h1>
</div>