<div class="flex justify-between items-center">
  <h1 class="text-lg font-black">
    <%= t('factures.titles.new') %>
    <span class="font-normal text-stone-600 text-base">
    : <%= dossier.name %>
    </span>
  </h1>

  <div><%= k(facture).badge %></div>
</div>