<div class="absolute top-4 right-10">
  <div class="flex space-x-4">
    <%= link_to t('factures.buttons.print'), 
      dossier_facture_path(dossier, facture, format: :pdf), target: "_blank",
      class: "text-fuchsia-600 border px-2 py-1.5 border-fuchsia-300 rounded-md bg-white hover:text-fuchsia-800 hover:shadow-md" %>
  </div>
  
</div>