<nav class="flex flex-col sm:flex-row items-center justify-between py-10">
  <div class="flex items-center space-x-2">
    <div>
      <span class="inline-flex h-14 w-14 items-center justify-center rounded-full bg-gray-500">
        <span class="text-xl font-medium leading-none text-white"><%= "TG" %></span>
      </span>
    </div>

    <div>
      <div class="text-lg font-black text-stone-600">Me Zaïna AZZABI</div>
      <div class="text-sm font-semibold text-stone-500">Cabinet Zaïna AZZABI Avocats</div>
    </div>
  </div>

  <div><%= render "dossiers/search" %></div>
</nav>