<div class="flex">
  <article>
    <h1>Gestion de cabinet d'avocat @thomasgalibert.</h1>

    <p>
      Hammurabi est un logiciel de gestion de cabinet d'avocat.
    </p>

    <p>
      Il est développé par 
      <a href="http://github.com/thomasgalibert" target="_blank">Thomas Galibert</a> 
      et est disponible sous licence 
      <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>.
    </p>

    <p>Les principales fonctions sont :

      <ul>
        <li>gestion des dossiers</li>
        <li>gestion des documents</li>
        <li>gestion des clients</li>
        <li>gestion des factures</li>
        <li>gestion des paiements</li>
        <li>gestion des feuilles de temps</li>
      </ul>
    </p>
  </article>

  <article>
    <h1>Spécificités</h1>

    <h2>Collaboration</h2>

    <p>Le logiciel est axé sur la collaboration entre avocats, du même cabinet ou pas.</p>
    <p>Imaginons que vous souhaitiez travailler ou sous-traiter un dossier avec un collègue, il suffit
    qu'il soit inscrit et il peut accéder à votre dossier.</p>
  </article>