<h1>Gestion de cabinet d'avocat @thomasgalibert.</h1>

<p>
  Hammurabi est un logiciel de gestion de cabinet d'avocat.
</p>

<p>
  Il est développé par 
  <a href="http://github.com/thomasgalibert" target="_blank">Thomas Galibert</a> 
  et est disponible sous licence 
  <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>.
</p>

<p>Les principales fonctions sont :

  <ul>
    <li>gestion des clients</li>
    <li>gestion des dossiers</li>
    <li>gestion des affaires</li>
    <li>gestion des factures</li>
    <li>gestion des paiements</li>
    <li>gestion des documents</li>
    <li>gestion des utilisateurs</li>
  </ul>
</p>
