<div>
  <%= link_to new_facture_avoir_path(facture),
      class: "text-stone-700 inline-flex text-sm font-semibold px-2 py-1.5 rounded-md bg-stone-200 hover:bg-stone-100 flex items-center space-x-2" do %>  
    <div><%= t('factures.buttons.refund') %></div>
  <% end %>
</div>