<%= turbo_frame_tag "#{@facture.id}_payments_list" do %>
  <div class="bg-white px-10 pb-10 pt-16 rounded-lg border relative mt-10">
    <%= render "header", facture: @facture %>
    <%= render "form", facture: @facture, payment: @payment %>
  </div>
<% end %>