:root{
  --celadon: hsla(148, 47%, 77%, 1);
  --mint: hsla(163, 53%, 48%, 1);
  --mint-2: hsla(167, 88%, 39%, 1);
  --honeydew: hsla(123, 31%, 87%, 1);
  --cambridge-blue: hsla(158, 34%, 57%, 1);
  --alabaster: hsla(52, 45%, 94%, 1);
  --oxford-blue: hsla(228, 50%, 10%, 1);
  --viridian: hsla(169, 56%, 36%, 1);
  --viridian-2: hsla(170, 84%, 29%, 1);
  --gunmetal: hsla(208, 32%, 16%, 1);
}


body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--alabaster);
  font-size: 16px;
}
body a {
  color: var(--viridian-2);
  text-decoration: underline;
}
body a:hover {
  color: var(--viridian);
}
body header {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  background-color: var(--oxford-blue);
  border-left: 1px solid var(--gunmetal);
  border-right: 1px solid var(--gunmetal);
  border-top: 1px solid var(--gunmetal);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}
body header nav a {
  color: var(--celadon);
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
}
body header nav a:hover {
  color: var(--mint-2);
}
body header nav button {
  background-color: transparent;
  border: none;
  color: var(--celadon);
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}
body header nav button:hover {
  color: var(--celadon);
}


body header nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
  margin: 0em;
  padding: 0em;
}
body header nav ul li {
  color: var(--celadon);
}
body header nav ul li.logo img {
  width: 50px;
}
body header nav ul li.logo a {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--celadon);
}
body main {
  margin: 0em 2em 2em 2em;
  background-color: white;
  border: 1px solid var(--oxford-blue);
	border-radius: 10px;
}
body main section {
  padding: 2em;
}
body h1 {
  color: var(--viridian-2);
}

body h2 {
  color: var(--viridian-2);
  font-size: 1.2em;
}

body footer {
  margin-top: 5em;
  border-top: 1px solid var(--oxford-blue);
}
body footer nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  font-size: 0.7em;
}
.serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
