<nav>
  <ul>
    <li>© Demerys Investment <%= Date.today.year %></li>
    <li>Tous droits réservés</li>
    <li><%=link_to "Mentions légales", '#' %></li>
    <li><%=link_to "CGV", '#' %></li>
    <li><%=link_to "Données personnelles", '#' %></li>
  </ul>
</nav>