<nav>
  <ul class="flex flex-col sm:flex-row justify-center items-center space-x-4 text-xs text-stone-400">
    <li><span class="text-black font-black">HAMMURABI</span></li>
    <li>© Demerys Investment <%= Date.today.year %></li>
    <li>Tous droits réservés</li>
    <li><%=link_to "Mentions légales", '#' %></li>
    <li><%=link_to "CGV", '#' %></li>
    <li><%=link_to "Données personnelles", '#' %></li>
  </ul>
</nav>