<nav class="flex flex-col sm:flex-row items-center justify-center py-10">
  <ul class="flex items-center flex-col">
    <li>
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "w-auto h-32" %>
      <% end %>
    <li><%= link_to "Hammurabi", root_path,
            class: "text-4xl font-black" %></li>
  </ul>  
</nav>